/*

0- 400px:           small phone
400 - 600px:        phone
600 - 900px:        tablet portrait
900 - 1024px:       tablet landscape
1024- 1200px:       normal view


$breakpoint argument choices:
- phone-small
- phone
- tab-port
- tab-land

ORDER: Base + typography > general layout + grid > page layout > components

*/
.about-story {
  position: relative;
  left: -10rem;
  padding: 10rem 0; }
  .about-story__title {
    font-size: 1.5rem;
    font-family: jost;
    font-weight: 600;
    letter-spacing: 4px;
    text-transform: uppercase;
    padding-bottom: 2rem; }
  .about-story__heading {
    font-size: 4.2rem;
    font-family: "Cormorant Garamond";
    color: #1a1a1a;
    text-transform: capitalize;
    font-weight: 600;
    padding-bottom: 1rem; }
  .about-story__paragraph {
    font-family: jost;
    font-size: 1.8rem;
    color: #595959;
    font-weight: 500;
    padding-bottom: 4rem;
    padding-left: 2rem;
    max-width: 60rem; }

.about-story-container {
  justify-content: space-between; }

.about-story-content {
  padding: 0 1.5rem 0 7.5rem;
  align-self: center; }

.about-story-imgbox {
  width: 70.4rem;
  height: 60rem; }

.about-story__photo {
  display: block;
  width: 100%;
  height: 100%; }

.btn__primary {
  font-size: 1.6rem;
  font-family: jost;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  color: #2d2d2d;
  letter-spacing: 1px;
  padding: 1.5rem 3rem; }

.brands {
  background: #f6f6fa;
  padding: 5rem 0;
  justify-content: center;
  position: relative; }
  .brands--bgimg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(../../img/Spa/bgimg.jpg);
    height: 40rem;
    margin-bottom: 5rem;
    background-position: center;
    background-size: cover; }

.brand-caption {
  position: absolute;
  bottom: 5rem;
  color: white;
  left: 4rem; }

.brands__title {
  font-family: jost;
  font-size: 1.8rem;
  font-weight: 600;
  word-spacing: 1.5rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  line-height: 2rem; }

.brands__heading {
  font-size: 4.2rem;
  font-family: "Cormorant Garamond";
  font-weight: 600;
  text-transform: capitalize; }

.brand-imgbox {
  margin: 0 2.6rem; }

.brand__photo {
  display: block; }

.container-stats {
  justify-content: center; }
  .container-stats-room, .container-stats-staff, .container-stats-location {
    padding: 1rem 10rem; }
    .container-stats-room--zeropad, .container-stats-staff--zeropad, .container-stats-location--zeropad {
      padding: 1rem 3rem; }
  .container-stats__number {
    font-size: 7rem;
    font-weight: 600;
    line-height: 1;
    padding-bottom: 2rem; }
  .container-stats__asset {
    font-size: 1.8rem;
    font-family: jost;
    color: #595959;
    text-transform: uppercase;
    font-weight: 600; }
  .container-stats__heading {
    font-size: 1.5rem;
    color: #b95c47;
    font-family: jost;
    font-weight: bold;
    text-transform: uppercase; }
  .container-stats__paragraph {
    font-size: 2.4rem;
    font-weight: 600; }

.container-stats-room {
  border-right: 2px solid #f6f6fa; }

.container-stats-staff {
  border-right: 2px solid #f6f6fa; }

.team-section {
  padding-bottom: 5rem; }

.team__heading {
  text-align: center;
  font-size: 4.5rem;
  font-weight: 600;
  color: #1a1a1a;
  letter-spacing: 1px; }

.team__paragraph {
  font-size: 2rem;
  font-family: jost;
  color: #7a7a7a;
  text-align: center;
  font-weight: 600;
  word-spacing: 0.1rem;
  padding-bottom: 5rem; }

.team-card-container {
  justify-content: center; }

.team-cardbox {
  width: 37rem;
  height: 42rem;
  padding: 2rem 1.8rem; }

.team__photo {
  display: block;
  width: 100%;
  height: 100%; }

.team__name {
  font-size: 2.4rem;
  color: #1a1a1a;
  text-transform: capitalize;
  font-weight: 600; }

.team__position {
  font-size: 1.8rem;
  color: #5a5a5a;
  font-weight: 600; }

.manager-address {
  padding: 1.5rem 10rem;
  margin: 0 auto; }
  @media (max-width: 64em) {
    .manager-address {
      padding: 1.5rem 0;
      margin: 0 0; } }
  @media (max-width: 56.25em) {
    .manager-address {
      padding: 1.5rem 5rem; } }

.manager-content {
  justify-content: space-between; }

.manager-message {
  width: 57rem;
  align-self: center; }
  .manager-message__quote {
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 4rem; }
  .manager-message__signature {
    margin-bottom: 2rem; }

.manager-name__name {
  font-size: 1.6rem;
  font-family: jost;
  font-weight: 600;
  color: #000; }

.manager-name__position {
  font-size: 1.6rem;
  font-family: jost;
  font-weight: 500;
  color: #595959;
  text-transform: capitalize; }

.manager-imgbox {
  width: 54rem;
  height: 51rem;
  padding-left: 6rem; }
  @media (max-width: 56.25em) {
    .manager-imgbox {
      padding-right: 0; } }

.manager__photo {
  display: block;
  width: 100%;
  height: 100%; }

.header {
  height: 60vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(../../img/contact-us/contact-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.heading__primary {
  font-weight: 600;
  font-size: 5.6rem;
  position: relative;
  top: -15rem;
  text-transform: capitalize; }

.site-content {
  padding-top: 0;
  min-height: 40rem; }

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(../../img/about-us/about-hero.jpg); }
