.container-stats {
  justify-content: center; }
  .container-stats-room, .container-stats-staff, .container-stats-location {
    padding: 1rem 10rem; }
  .container-stats__number {
    font-size: 7rem;
    font-weight: 600;
    line-height: 1;
    padding-bottom: 2rem; }
  .container-stats__asset {
    font-size: 1.8rem;
    font-family: jost;
    color: #595959;
    text-transform: uppercase;
    font-weight: 500; }

.container-stats-room {
  border-right: 2px solid #f6f6fa; }

.container-stats-staff {
  border-right: 2px solid #f6f6fa; }

.manager-address {
  padding: 1.5rem 10rem;
  margin: 0 auto; }

.manager-content {
  justify-content: space-between; }

.manager-message {
  width: 57rem;
  align-self: center; }
  .manager-message__quote {
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 4rem; }
  .manager-message__signature {
    margin-bottom: 2rem; }

.manager-name__name {
  font-size: 1.6rem;
  font-family: jost;
  font-weight: 600;
  color: #000; }

.manager-name__position {
  font-size: 1.6rem;
  font-family: jost;
  font-weight: 500;
  color: #595959;
  text-transform: capitalize; }

.manager-imgbox {
  width: 54rem;
  height: 51rem; }

.header {
  height: 60vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(../../img/contact-us/contact-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.heading__primary {
  font-weight: 600;
  font-size: 5.6rem;
  position: relative;
  top: -15rem;
  text-transform: capitalize; }

.site-content {
  padding-top: 0;
  min-height: 40rem; }

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(../../img/about-us/about-hero.jpg); }
