/*

0- 400px:           small phone
400 - 600px:        phone
600 - 900px:        tablet portrait
900 - 1024px:       tablet landscape
1024- 1200px:       normal view


$breakpoint argument choices:
- phone-small
- phone
- tab-port
- tab-land

ORDER: Base + typography > general layout + grid > page layout > components

*/
@keyframes zoomin {
  from {
    background-size: 100%; }
  to {
    background-size: 110%; } }

.transition {
  transition: all 0.5s; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 64em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 43.75%; } }

body {
  box-sizing: border-box; }

body {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  line-height: 1.7;
  color: #5a5a5a; }

.heading {
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  @media (max-width: 56.25em) {
    .heading {
      left: 45%; } }
  .heading__primary {
    color: #fff;
    font-size: 7.2rem;
    font-weight: 600;
    text-align: center;
    line-height: 1;
    word-spacing: 5px; }
  .heading__secondary {
    color: #1a1a1a;
    font-size: 4.2rem; }
    .heading__secondary--white {
      color: #fff;
      position: relative;
      left: 50%;
      transform: translateX(-50%); }

.u-margin-left {
  margin-left: 10rem !important; }

.u-margin-left-big {
  margin-left: 23rem !important; }

.flex {
  display: flex; }

.section-container {
  display: flex;
  justify-content: flex-start;
  padding: 2rem 0 2rem 0;
  position: relative;
  margin-left: 4rem;
  overflow-x: hidden;
  overflow-y: hidden; }
  @media (max-width: 37.5em) {
    .section-container-eat {
      margin-top: -108rem;
      flex-wrap: wrap; } }
  @media (max-width: 37.5em) {
    .section-container {
      flex-wrap: wrap; } }
  .section-container--center {
    justify-content: center;
    align-items: center; }
  .section-container__text-center {
    margin: 0 auto;
    flex-shrink: 1; }
    @media (max-width: 37.5em) {
      .section-container__text-center {
        margin: 0 0; } }
  .section-container__text {
    background-color: #f6f6fa;
    padding: 15rem 4rem;
    width: 50rem;
    flex-shrink: 0; }
    @media (max-width: 37.5em) {
      .section-container__text {
        width: 59rem; } }
    .section-container__text-shrink {
      flex-shrink: 1; }
    @media (max-width: 56.25em) {
      .section-container__text-wellness {
        flex-shrink: 1;
        padding-left: 5rem;
        width: 200rem; } }
  .section-container__title {
    font-family: jost;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 3px;
    color: #5a5a5a;
    text-transform: uppercase; }
    .section-container__title--white {
      color: #fff; }
  .section-container__heading {
    width: 60%;
    line-height: 1.4; }
  .section-container__paragraph {
    font-family: jost;
    font-weight: 500;
    font-size: 1.8rem;
    color: #5a5a5a;
    width: 75%;
    margin-bottom: 2rem; }
  .section-container__btn {
    font-family: jost;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.5rem;
    color: #1a1a1a;
    display: inline-block;
    text-align: center;
    margin-top: 2.5rem; }
  .section-container__video {
    width: 31rem;
    height: 38rem;
    align-self: center;
    flex: 0 1 auto;
    margin-left: -10rem;
    background-size: cover;
    flex-shrink: 1; }
    @media (max-width: 64em) {
      .section-container__video {
        display: none; } }
    .section-container__video:hover .section-container__img-box {
      cursor: pointer; }
  .section-container__img-box {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url(../../img/history2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
    .section-container__img-box:hover {
      background-size: cover;
      animation: zoomin 1s ease-in-out;
      animation-fill-mode: forwards; }
  .section-container__photo {
    width: 36rem;
    height: 48rem;
    align-self: center;
    flex-shrink: 0;
    z-index: 4;
    margin-left: 4rem; }
    @media (max-width: 37.5em) {
      .section-container__photo {
        margin-top: -3rem;
        width: 61rem;
        margin-left: -2rem; } }
    .section-container__photo-box {
      width: 100%;
      height: 100%;
      background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url(../../img/history1.jpg);
      background-size: cover;
      background-repeat: no-repeat; }
  .section-container__caption {
    align-self: center;
    margin-left: -13rem; }
    @media (max-width: 37.5em) {
      .section-container__caption {
        display: none; } }
    .section-container__caption-text {
      font-family: jost;
      font-size: 1.5rem;
      text-transform: capitalize;
      font-weight: 600;
      letter-spacing: 5px;
      transform: rotate(90deg);
      width: 30rem; }
  .section-container__stay-img {
    width: 38rem;
    height: 48rem;
    align-self: center;
    margin-left: -10rem;
    flex-shrink: 0;
    position: relative;
    margin-right: 13rem; }
    .section-container__stay-img-box {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
      .section-container__stay-img-box--family {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(../img/familysuite.jpg); }
        @media (max-width: 37.5em) {
          .section-container__stay-img-box--family {
            width: 69rem;
            margin-top: -5rem; } }
      .section-container__stay-img-box--junior {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(../../img/juniorsuite.jpg); }
        @media (max-width: 37.5em) {
          .section-container__stay-img-box--junior {
            display: none; } }
      .section-container__stay-img-box--deluxe {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(../../img/deluxe.jpg); }
        @media (max-width: 37.5em) {
          .section-container__stay-img-box--deluxe {
            display: none; } }
      .section-container__stay-img-box:hover {
        background-size: cover;
        cursor: pointer; }
  .section-container__staycaption {
    position: absolute;
    bottom: 3rem;
    padding: 3rem; }
    @media (max-width: 37.5em) {
      .section-container__staycaption {
        left: 10rem; } }
  .section-container__slide-title {
    color: #fff;
    font-size: 2.8rem;
    letter-spacing: 1px;
    font-weight: 400; }
  .section-container__slide-text {
    color: #fff;
    font-size: 1.6rem;
    letter-spacing: 1px;
    font-weight: 600; }
  .section-container__eatdrink-img {
    width: 38rem;
    height: 48rem;
    align-self: center;
    margin-left: -10rem;
    flex-shrink: 0;
    position: relative; }
    .section-container__eatdrink-img-caption {
      font-family: jost;
      font-size: 1.8rem;
      font-weight: 600;
      letter-spacing: 3px;
      text-align: center;
      padding: 1rem 0;
      text-transform: capitalize; }
    .section-container__eatdrink-img--left {
      left: 20rem;
      flex-shrink: 1;
      top: -5rem; }
      @media (max-width: 64em) {
        .section-container__eatdrink-img--left {
          display: none; } }
    .section-container__eatdrink-img--right {
      right: 10rem;
      flex-shrink: 1; }
      @media (max-width: 64em) {
        .section-container__eatdrink-img--right {
          flex-shrink: 1; } }
      @media (max-width: 37.5em) {
        .section-container__eatdrink-img--right {
          width: 64rem;
          left: 5rem;
          top: -5rem; } }
    .section-container__eatdrink-img-box {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
      .section-container__eatdrink-img-box--foodas {
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url(../../img/freshfoodas.jpeg); }
      .section-container__eatdrink-img-box--gardenrest {
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url(../../img/gardenrest.jpeg); }
  .section-container__wellness-img {
    width: 77rem;
    height: 48rem;
    align-self: center;
    margin-left: -10rem;
    flex-shrink: 1;
    position: relative;
    margin-right: 13rem; }
    @media (max-width: 37.5em) {
      .section-container__wellness-img {
        flex-shrink: 0;
        padding-left: 5rem;
        width: 100rem;
        margin-top: -5rem; } }
    .section-container__wellness-img-box {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url(../../img/wellness.jpg); }
  .section-container__parallax-content {
    width: 100%;
    padding: 0 3rem;
    text-align: center; }
    @media (max-width: 37.5em) {
      .section-container__parallax-content {
        position: relative;
        left: -6rem; } }

.section-reviews__logo {
  text-align: center;
  padding: 5rem 0 0 0;
  position: relative; }

.section-reviews__heading {
  text-align: center;
  padding: 2.5rem 0;
  text-transform: capitalize;
  font-size: 4.2rem; }

.section-reviews-container {
  display: flex;
  justify-content: space-around;
  padding: 2rem 0 2rem 0;
  position: relative;
  margin-left: 4rem; }

.section-container__review {
  margin: 2rem; }
  @media (max-width: 37.5em) {
    .section-container__review--2 {
      display: none; } }
  @media (max-width: 56.25em) {
    .section-container__review--3 {
      display: none; } }

.section-container__review-text {
  font-size: 2.4rem;
  color: #1a1a1a;
  font-weight: 600;
  margin-bottom: 1rem; }

.section-container__review-user {
  font-family: jost;
  font-size: 1.8rem;
  color: #1a1a1a;
  text-transform: capitalize;
  font-weight: 600; }

.section-container__review-trademark {
  font-family: jost;
  font-size: 1.6rem;
  color: #333;
  text-transform: capitalize; }

.section-title {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  text-align: center;
  display: block;
  margin: 2rem;
  margin-bottom: 2.5rem; }
  .section-title__heading {
    font-size: 1.5rem;
    font-family: jost;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #5a5a5a; }
  .section-title__tag {
    font-size: 4.2rem;
    font-weight: 600;
    color: #1a1a1a;
    letter-spacing: 2px; }

.section-gallery {
  display: flex; }
  .section-gallery__overlay {
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s; }
    .section-gallery__overlay:hover {
      opacity: 1;
      background: rgba(0, 0, 0, 0.7); }
    .section-gallery__overlay:hover .section-gallery__caption {
      opacity: 1;
      top: 50%; }
  .section-gallery__image {
    width: 30.58rem;
    height: 30.38rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    cursor: pointer; }
    .section-gallery__image--1 {
      background-image: url(../../img/gallery1.jpg); }
    .section-gallery__image--2 {
      background-image: url(../../img/gallery2.jpg); }
    .section-gallery__image--3 {
      background-image: url(../../img/gallery3.jpg); }
    .section-gallery__image--4 {
      background-image: url(../../img/gallery4.jpg); }
    .section-gallery__image--5 {
      background-image: url(../../img/gallery5.jpg); }
  .section-gallery__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: jost;
    font-size: 1.6rem;
    color: white;
    font-weight: 600;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }

.button__header {
  background-color: #b95c47;
  padding: 1rem 4rem;
  margin-left: 3rem;
  border-radius: 5px; }

.btn__primary {
  border: 1px solid #1a1a1a;
  border-radius: 3px;
  padding: 1rem 3.5rem;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease;
  color: #1a1a1a;
  text-transform: uppercase; }
  .btn__primary:hover,
  .btn__primary .btn__primary:focus {
    color: #fff;
    border-color: #b95c47; }
  .btn__primary:hover::before,
  .btn__primary .btn__primary:focus::before {
    transform: scaleY(1); }
  .btn__primary::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #b95c47;
    z-index: -1;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: all 0.5s ease-in-out; }
  .btn__primary--white {
    border: 1px solid #fff;
    color: white; }
    .btn__primary--white:hover {
      border-color: #fff; }

.btn__secondary {
  padding: 1rem 2.8rem;
  margin-left: 0;
  text-decoration: none;
  font-family: jost;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 2px; }

.btn__underline {
  padding: 1rem 0;
  margin-left: 0;
  text-decoration: none;
  font-family: jost;
  text-transform: uppercase;
  color: #1a1a1a;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 2px;
  border-bottom: 1px solid #000; }

.form-container {
  display: flex;
  justify-content: space-between;
  background: white;
  width: 50%;
  position: absolute;
  top: 85%;
  left: 54%;
  transform: translate(-50%, -50%);
  border: none; }
  @media (max-width: 64em) {
    .form-container {
      visibility: hidden; } }
  @media (max-width: 73.4em) {
    .form-container {
      visibility: hidden; } }
  .form-container__field {
    width: 100%;
    padding: 2.5rem 1.5rem; }
  .form-container__input {
    display: flex;
    justify-content: space-between; }
  .form-container__heading {
    color: #7a7a7a;
    font-family: "jost";
    font-size: 1.4rem;
    font-weight: 600; }
  .form-container__text {
    color: #2a2a2a;
    font-family: "jost";
    font-size: 1.4rem;
    font-weight: 600; }
    .form-container__text--link {
      cursor: pointer; }
  .form-container__button {
    background: #2a2a2a;
    padding: 0rem 1.5rem;
    height: 100%;
    margin: 0;
    border: none; }
    .form-container__button-text {
      color: white;
      font-size: 1.4rem;
      font-family: "jost";
      font-weight: 600;
      padding: 3rem 3rem;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      display: block; }

@media (max-width: 68.37em) {
  .navigation__item--phone {
    display: none; } }

@media (max-width: 53em) {
  .section-container__photo {
    margin-left: -6rem; }
  .section-container__caption {
    display: none; } }

@media (max-width: 37.5em) {
  .section-container__photo {
    margin-left: 0rem;
    width: 59rem; } }

@media (max-width: 84em) {
  .section-container__eatdrink-img--left {
    visibility: hidden; } }

@media (max-width: 31em) {
  .footer-newsletter__input {
    width: 37rem !important; }
  .header__navigation {
    margin: 0 3rem !important; } }

@media (max-width: 1139px) {
  .faqs {
    flex-wrap: wrap; }
  .faq-link {
    margin-top: 2rem; } }

@media (max-width: 500px) {
  .container-desc__title {
    width: 40rem !important; } }

@media (max-width: 500px) {
  .faqs__text {
    width: 40rem !important; } }

.sidebar {
  position: fixed;
  left: -250rem;
  width: 100%;
  min-height: 100%;
  z-index: 1000;
  font-size: 2.4rem;
  font-family: "Cormorant Garamond";
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease; }
  .sidebar__footer {
    font-size: 1.4rem;
    font-family: jost;
    font-weight: 600;
    color: #1a1a1a;
    margin-left: 8rem;
    position: absolute;
    bottom: 9rem; }
  .sidebar--white {
    margin-top: -10rem;
    background: white;
    width: 51.5rem;
    height: 100vh; }
  .sidebar__list {
    list-style: none;
    margin-left: 8rem;
    margin-top: 10rem;
    padding-top: 10rem; }
  .sidebar__items {
    padding-top: 2rem; }
    .sidebar__items:hover .sidebar__links {
      color: #b95c47; }
  .sidebar__links {
    color: #1a1a1a;
    text-decoration: none;
    word-spacing: 0.3rem;
    font-weight: 500;
    display: block;
    transition: all 0.5s ease; }

#check {
  display: none; }

label #btn,
label #cancel {
  position: absolute;
  cursor: pointer; }
  @media (min-width: 64em) {
    label #btn,
    label #cancel {
      display: none; } }
  @media (max-width: 64em) {
    label #btn,
    label #cancel {
      display: block; } }

label #btn {
  left: 8rem;
  top: 2rem;
  font-size: 4rem;
  color: #1a1a1a;
  transition: all 0.5s;
  opacity: 0; }

label #cancel {
  z-index: 1111;
  left: 8rem;
  top: 2rem;
  font-size: 4rem;
  color: #1a1a1a;
  font-family: jost;
  font-weight: 600;
  transition: all 0.5s ease;
  display: none; }

#check:checked ~ .sidebar {
  left: 0; }

#check:checked ~ label #btn {
  left: 25rem;
  opacity: 0;
  pointer-events: none;
  display: none; }

#check:checked ~ label #cancel {
  display: block; }

.footer {
  padding: 5rem 10rem; }
  .footer-black {
    background-color: #1a1a1a;
    color: white;
    margin-top: 5rem; }

.footer-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 1.5rem;
  font-family: jost;
  font-weight: 600; }

.footer-section-list {
  width: 35.499rem;
  min-height: 13.43rem;
  padding: 2rem 0; }
  .footer-section-list__items {
    width: 22.819rem;
    padding: 0.5rem 0; }

.footer-general__heading {
  font-family: "Cormorant Garamond";
  text-transform: capitalize;
  font-size: 3rem;
  color: #1a1a1a; }
  .footer-general__heading--white {
    color: white; }

.footer-general__links {
  width: 24.75rem;
  min-height: 14.93rem;
  list-style: none;
  margin-top: 2rem; }

.footer-general__link {
  display: block;
  text-decoration: none;
  padding-top: 1rem;
  color: #1a1a1a;
  transition: color 0.1s; }
  .footer-general__link:hover {
    color: #b95c47; }
  .footer-general__link--white {
    color: white;
    font-size: 1.8rem;
    font-family: jost;
    text-transform: capitalize; }

.footer-newsletter {
  width: 43.09rem;
  font-family: "Cormorant Garamond";
  font-size: 2.8rem;
  color: #1a1a1a; }
  .footer-newsletter__title {
    font-weight: 500; }
  .footer-newsletter__input {
    padding: 2rem 6rem 2rem 3rem;
    width: 47rem;
    position: relative;
    outline: 1px solid black;
    transition: all 0.5s;
    height: 6rem;
    border: none;
    border-radius: 2px; }
    .footer-newsletter__input:focus {
      outline: 1px solid #b95c47;
      border-radius: 2px; }
    .footer-newsletter__input::placeholder {
      font-size: 1.6rem;
      font-family: Jost;
      font-weight: 500;
      color: #1a1a1a; }
  .footer-newsletter__arrow {
    position: absolute;
    left: 1.8rem;
    bottom: 1.8rem;
    z-index: 2; }
  .footer-newsletter__submit {
    position: absolute;
    top: 1.8rem;
    left: 1.8rem; }

.footer-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  padding: 4rem 0;
  border-top: 1px solid #eee;
  font-family: jost;
  font-size: 1.4rem;
  color: #5a5a5a; }
  .footer-bottom__left {
    display: flex;
    width: 55.5rem; }
  .footer-bottom__text {
    font-weight: 600;
    margin-right: 2rem; }
    .footer-bottom__text--white {
      color: #fff; }
  .footer-bottom__links {
    display: flex;
    list-style: none; }
  .footer-bottom__link {
    margin-right: 2rem;
    margin-left: 2rem;
    text-decoration: none;
    text-transform: capitalize;
    color: #1a1a1a;
    font-weight: 600;
    transition: 0.2s; }
    .footer-bottom__link--white {
      color: white; }
    .footer-bottom__link:hover {
      color: #b95c47; }

.header {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(../img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "jost", sans-serif;
  margin: 0 10rem;
  padding-top: 3rem; }
  .header__navigation-sidebar {
    font-size: 4rem;
    margin-left: -1rem; }
    @media (min-width: 64em) {
      .header__navigation-sidebar {
        display: none; } }
    @media (max-width: 64em) {
      .header__navigation-sidebar {
        display: block; } }
  .header__navigation--left {
    padding-top: 2rem; }
    .header__navigation--left .navigation__item {
      padding: 2rem; }
    @media (max-width: 64em) {
      .header__navigation--left {
        display: none; } }
  .header__navigation--logo {
    align-self: flex-start; }
    @media (max-width: 64em) {
      .header__navigation--logo {
        margin-left: 10rem; } }
  .header__navigation--right {
    word-spacing: 2px;
    align-self: flex-start;
    padding-top: 2rem; }
  .header__navigation .navigation__links {
    list-style: none;
    display: flex; }
  .header__navigation .navigation__item {
    text-decoration: none;
    color: #fff; }
    @media (max-width: 64em) {
      .header__navigation .navigation__item--phone {
        display: none; } }
    @media (max-width: 37.5em) {
      .header__navigation .navigation__item--book {
        display: none; } }

.header .navigation-dropdown {
  position: relative;
  display: inline-block;
  transition: all 2s; }
  .header .navigation-dropdown:hover .navigation-dropdown__content {
    display: block;
    transform: translateY(-3rem); }
  .header .navigation-dropdown__content {
    display: none;
    width: 22rem;
    position: absolute;
    left: 2rem;
    background: #5a5a5a;
    margin-top: 2rem;
    top: 6rem; }
    .header .navigation-dropdown__content a {
      display: block;
      color: #fff;
      text-transform: capitalize;
      text-decoration: none;
      font-weight: bold;
      line-height: 1;
      font-size: 1.6rem;
      padding: 1.3rem;
      width: 100%; }
      .header .navigation-dropdown__content a:hover {
        background-color: rgba(0, 0, 0, 0.5); }

.section-history {
  padding: 5rem 10rem; }
  @media (max-width: 56.25em) {
    .section-history {
      padding: 5rem 0; } }

.section-stay {
  padding: 5rem 0rem 5rem 10rem;
  position: relative; }
  @media (max-width: 56.25em) {
    .section-stay {
      padding: 5rem 0 5rem 0; } }
  .section-stay__btn-arrow {
    position: absolute;
    right: 8rem;
    display: flex;
    font-size: 3rem;
    width: 8rem; }
    @media (max-width: 56.25em) {
      .section-stay__btn-arrow {
        display: none; } }
    .section-stay__btn-arrow:hover {
      cursor: pointer; }

.section-eatdrink {
  padding: 5rem 0 5rem 10rem; }
  @media (max-width: 56.25em) {
    .section-eatdrink {
      padding: 5rem 0 5rem 0; } }

.section-wellness {
  padding: 5rem 10rem; }
  @media (max-width: 56.25em) {
    .section-wellness {
      padding: 5rem 0; } }

.section-parallax {
  padding: 10rem 0 10rem 10rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(../../img/deluxe.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

.section-reviews {
  padding: 5rem 10rem; }
  @media (max-width: 56.25em) {
    .section-reviews {
      padding: 5rem 0; } }

.section-instagram {
  position: relative;
  padding: 5rem 0; }
