*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  line-height: 1.7;
  color: #5a5a5a; }

.heading {
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .heading__primary {
    color: #fff;
    font-size: 7.2rem;
    font-weight: 600;
    text-align: center;
    line-height: 1;
    word-spacing: 5px; }

.button__header {
  background-color: #b95c47;
  padding: 1rem 4rem;
  margin-left: 3rem;
  border-radius: 5px; }

.form-container {
  display: flex;
  justify-content: space-between;
  background: white;
  width: 50%;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none; }
  .form-container__field {
    width: 100%;
    padding: 2.5rem 1.5rem; }
  .form-container__input {
    display: flex;
    justify-content: space-between; }
  .form-container__heading {
    color: #7a7a7a;
    font-family: "jost";
    font-size: 1.4rem;
    font-weight: 600; }
  .form-container__text {
    color: #2a2a2a;
    font-family: "jost";
    font-size: 1.4rem;
    font-weight: 600; }
    .form-container__text--link {
      cursor: pointer; }
  .form-container__button {
    background: #2a2a2a;
    padding: 0rem 1.5rem;
    height: 100%;
    margin: 0;
    border: none;
    backface-visibility: hidden;
    overflow: hidden; }
    .form-container__button-text {
      color: white;
      font-size: 1.4rem;
      font-family: "jost";
      font-weight: 600;
      padding: 2.5rem 3.5rem;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      display: block; }

.header {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(../img/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "jost", sans-serif;
  margin: 0 10rem;
  padding-top: 3rem; }
  .header__navigation--left {
    padding-top: 2rem; }
    .header__navigation--left .navigation__item {
      padding: 2rem; }
  .header__navigation--logo {
    align-self: flex-start; }
  .header__navigation--right {
    word-spacing: 2px;
    align-self: flex-start;
    padding-top: 2rem; }
  .header__navigation .navigation__links {
    list-style: none;
    display: flex; }
  .header__navigation .navigation__item {
    text-decoration: none;
    color: #fff; }

.header .navigation-dropdown {
  position: relative;
  display: inline-block;
  transition: all 2s; }
  .header .navigation-dropdown:hover .navigation-dropdown__content {
    display: block;
    transform: translateY(-3rem); }
  .header .navigation-dropdown__content {
    display: none;
    width: 22rem;
    position: absolute;
    left: 2rem;
    background: #5a5a5a;
    margin-top: 2rem;
    top: 6rem; }
    .header .navigation-dropdown__content a {
      display: block;
      color: #fff;
      text-transform: capitalize;
      text-decoration: none;
      font-weight: bold;
      line-height: 1;
      font-size: 1.6rem;
      padding: 1.3rem;
      width: 100%; }
      .header .navigation-dropdown__content a:hover {
        background-color: rgba(0, 0, 0, 0.5); }
