// Colors

$color-white: #fff;
$color-black: #000;
$color-black-2: #2a2a2a;
$color-black-3: #1a1a1a;
$color-grey-light: #5a5a5a;
$color-grey-light-1: #7a7a7a;
$color-grey-light-2: #f6f6fa;
$color-red-light: #b95c47;
$color-brown: #b95c47;
