.section-container {
  display: flex;
  justify-content: flex-start;
  padding: 2rem 0 2rem 0;
  position: relative;
  margin-left: 4rem;
  overflow-x: hidden;

  &__text-center {
    margin: 0 auto;
    flex-shrink: 1;
  }

  &__text {
    background-color: $color-grey-light-2;
    padding: 15rem 4rem;
    width: 50rem;
    flex-shrink: 0;
  }

  &__title {
    font-family: jost;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 3px;
    color: $color-grey-light;
    text-transform: uppercase;
  }

  &__heading {
    width: 60%;
    line-height: 1.4;
  }

  &__paragraph {
    font-family: jost;
    font-weight: 500;
    font-size: 1.8rem;
    color: $color-grey-light;
    width: 75%;
    margin-bottom: 2rem;
  }

  &__btn {
    font-family: jost;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.5rem;
    color: $color-black-3;
    display: inline-block;
    text-align: center;
    margin-top: 2.5rem;
  }

  &__video {
    width: 31rem;
    height: 38rem;
    align-self: center;
    flex: 0 1 auto;
    margin-left: -10rem;
    background-size: cover;
    flex-shrink: 1;

    &:hover .section-container__img-box {
      cursor: pointer;
    }
  }

  &__img-box {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        rgba($color-black, 0.1),
        rgba($color-black, 0.2)
      ),
      url(../../img/history2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      background-size: cover;
      animation: zoomin 1s ease-in-out;
      animation-fill-mode: forwards;
    }
  }

  &__photo {
    width: 36rem;
    height: 48rem;

    align-self: center;
    flex-shrink: 0;
    z-index: 4;
    margin-left: 4rem;

    &-box {
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
          rgba($color-black, 0.1),
          rgba($color-black, 0.2)
        ),
        url(../../img/history1.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  &__caption {
    align-self: center;
    margin-left: -13rem;

    &-text {
      font-family: jost;
      font-size: 1.5rem;
      text-transform: capitalize;
      font-weight: 600;
      letter-spacing: 5px;
      transform: rotate(90deg);
      width: 30rem;
    }
  }

  &__stay-img {
    width: 38rem;
    height: 48rem;
    align-self: center;
    margin-left: -10rem;
    flex-shrink: 0;
    position: relative;
    margin-right: 13rem;

    &-box {
      width: 100%;
      height: 100%;

      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      &--family {
        background-image: linear-gradient(
            rgba($color-black, 0.4),
            rgba($color-black, 0.5)
          ),
          url(../img/familysuite.jpg);
      }

      &--junior {
        background-image: linear-gradient(
            rgba($color-black, 0.4),
            rgba($color-black, 0.5)
          ),
          url(../../img/juniorsuite.jpg);
      }

      &--deluxe {
        background-image: linear-gradient(
            rgba($color-black, 0.4),
            rgba($color-black, 0.5)
          ),
          url(../../img/deluxe.jpg);

        // background: red;
      }

      &:hover {
        background-size: cover;
        cursor: pointer;
      }
    }
  }

  &__staycaption {
    position: absolute;
    bottom: 3rem;
    padding: 3rem;
  }

  &__slide-title {
    color: $color-white;
    font-size: 2.8rem;
    letter-spacing: 1px;
    font-weight: 400;
  }

  &__slide-text {
    color: $color-white;
    font-size: 1.6rem;
    letter-spacing: 1px;
    font-weight: 600;
  }

  &__eatdrink-img {
    width: 38rem;
    height: 48rem;
    align-self: center;
    margin-left: -10rem;
    flex-shrink: 0;
    position: relative;

    &-caption {
      font-family: jost;
      font-size: 1.8rem;
      font-weight: 600;
      letter-spacing: 3px;
      text-align: center;
      padding: 1rem 0;
      text-transform: capitalize;
    }

    &--left {
      left: 20rem;
      flex-shrink: 1;
      top: -5rem;
    }

    &--right {
      right: 10rem;
      flex-shrink: 1;
    }

    &-box {
      width: 100%;
      height: 100%;
      background: blue;

      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      &--foodas {
        background-image: linear-gradient(
            rgba($color-black, 0.2),
            rgba($color-black, 0.3)
          ),
          url(../../img/freshfoodas.jpeg);
      }

      &--gardenrest {
        background-image: linear-gradient(
            rgba($color-black, 0.2),
            rgba($color-black, 0.3)
          ),
          url(../../img/gardenrest.jpeg);
      }
    }
  }

  &__wellness-img {
    background: blue;
    width: 77rem;
    height: 48rem;
    align-self: center;
    margin-left: -10rem;
    flex-shrink: 0;
    position: relative;
    margin-right: 13rem;

    &-box {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: linear-gradient(
          rgba($color-black, 0.3),
          rgba($color-black, 0.4)
        ),
        url(../../img/wellness.jpg);
    }
  }
}
