.button__header {
  background-color: $color-red-light;
  padding: 1rem 4rem;
  margin-left: 3rem;
  border-radius: 5px;
}

.btn__primary {
  border: 1px solid $color-black-3;
  border-radius: 3px;
  padding: 1rem 3.5rem;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease;
  color: $color-black-3;
  text-transform: uppercase;

  &:hover,
  .btn__primary:focus {
    color: $color-white;
    border-color: $color-brown;
  }

  &:hover::before,
  .btn__primary:focus::before {
    transform: scaleY(1);
    // border-color: $color-brown;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: $color-brown;
    z-index: -1;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: all 0.5s ease-in-out;
  }

  &--white {
    border: 1px solid $color-white;
    color: white;

    &:hover {
      border-color: $color-white;
    }
  }
  // &:hover::before,
  // &:focus::before {
  //   transform: scaleX(1);
  // }
}

// .btn__primary:hover::before,
// .btn__primaryfocus::before {
//   transform: scaleX(1);
// }

.btn__secondary {
  padding: 1rem 2.8rem;
  margin-left: 0;
  text-decoration: none;
  font-family: jost;
  text-transform: uppercase;
  color: $color-white;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.btn__underline {
  padding: 1rem 0;
  margin-left: 0;
  text-decoration: none;
  font-family: jost;
  text-transform: uppercase;
  color: $color-black-3;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 2px;
  border-bottom: 1px solid $color-black;
}

.btn__red {
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: $color-brown;
  border-radius: 3px;
  text-decoration: none;
  color: $color-white;
  font-family: jost;
  padding: 1.5rem 3rem;
  transition: all 0.2s;
  display: inline-block;

  &:hover {
    background-color: $color-brown-dark;
  }
}
