.container-stats {
  justify-content: center;

  &-room,
  &-staff,
  &-location {
    padding: 1rem 10rem;

    &--zeropad {
      padding: 1rem 3rem;
    }
  }

  &__number {
    font-size: 7rem;
    font-weight: 600;
    line-height: 1;
    padding-bottom: 2rem;
  }

  &__asset {
    font-size: 1.8rem;
    font-family: jost;
    color: $color-grey-light;
    text-transform: uppercase;
    font-weight: 600;
  }

  &__heading {
    font-size: 1.5rem;
    color: $color-brown;
    font-family: jost;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__paragraph {
    font-size: 2.4rem;
    font-weight: 600;
  }
}

.container-stats-room {
  border-right: 2px solid $color-grey-light-2;
}

.container-stats-staff {
  border-right: 2px solid $color-grey-light-2;
}

.container-stats-location {
}
