.form-container {
  display: flex;
  justify-content: space-between;

  background: white;
  width: 50%;
  position: absolute;
  top: 85%;
  left: 54%;
  transform: translate(-50%, -50%);
  border: none;

  @include respond(tab-land) {
    visibility: hidden;
  }

  @include respond(laptop) {
    visibility: hidden;
  }

  &__field {
    width: 100%;
    padding: 2.5rem 1.5rem;
  }

  &__input {
    display: flex;
    justify-content: space-between;

    &--checkin {
    }

    &--rooms {
    }
  }

  &__heading {
    color: $color-grey-light-1;
    font-family: "jost";
    font-size: 1.4rem;
    font-weight: 600;
  }

  &__text {
    color: $color-black-2;
    font-family: "jost";
    font-size: 1.4rem;
    font-weight: 600;

    &--link {
      cursor: pointer;
    }
  }

  &__button {
    background: $color-black-2;
    padding: 0rem 1.5rem;
    height: 100%;
    margin: 0;
    border: none;

    &-text {
      color: white;
      font-size: 1.4rem;
      font-family: "jost";
      font-weight: 600;
      padding: 3rem 3rem;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      display: block;
    }
  }
}
