.section-history {
  padding: 5rem 10rem;
}

.section-stay {
  padding: 5rem 0rem 5rem 10rem;
  position: relative;

  &__btn-arrow {
    position: absolute;
    right: 8rem;
    display: flex;
    font-size: 3rem;
    width: 8rem;
    // justify-content: space-between;

    &:hover {
      cursor: pointer;
    }
  }
}

.section-eatdrink {
  padding: 5rem 0 5rem 10rem;
}

.section-wellness {
  padding: 5rem 10rem;
}

.section-parallax {
  padding: 10rem 0 10rem 10rem;
  background-image: linear-gradient(
      rgba($color-black, 0.4),
      rgba($color-black, 0.5)
    ),
    url(../../img/deluxe.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.section-reviews {
  padding: 5rem 10rem;
}
