.section-history {
  padding: 5rem 10rem;
}

.section-stay {
  padding: 5rem 0rem 5rem 10rem;
  position: relative;

  &__btn-arrow {
    position: absolute;
    right: 8rem;
    display: flex;
    font-size: 3rem;
    width: 8rem;
    justify-content: space-between;

    &:hover {
      cursor: pointer;
    }
  }
}

.section-eatdrink {
  padding: 5rem 0 5rem 10rem;
}
